body {
    color: #6d6b6c;
    font: 18px/1.5 'Open Sans', sans-serif;
}

.body-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

h1, h2, h3, h4 {
    margin: 0;
    font-family: 'Quattrocento Sans', sans-serif;
    line-height: 1;
}

h1 {
    font-size: 3em;
}

h2, h3, h4 {
    color: #1a97c7;
}

h4 {    
    font-weight: 300;
    font-size: .75em;
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #6d6b6c;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.main-content {
    max-width: 1600px;
    padding: 0 30px;
    margin: 0 auto;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.image-wrapper img {
    width: 150px;
    border-radius: 50%;
}

// hide content for display
// but show for screen readers
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

ul h3 {
    color: #434343;
}
